/* Can't figure out why there is a space between the h1 selector and the div content??? */

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
}

h1 {
  text-align: center;
  border:3px solid black;
  width: 100%;
  padding
}

.container {
  display: flex;
  flex-wrap: wrap;
}

div {
  width: 50%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 2;
  padding: 15px 0 15px 15px;
  box-sizing: border-box;
  border: 3px solid black; 
}

div:left {
  border-width: 3px 1.5px 3px 3px;
}

div:right {
  border-width: 3px 3px 3px 1.5px;
}

h3 {
  background-color: white;
  padding: 10px;
}

  p {
      padding-right: 15px;
      }
